.wrapper {
  text-align: center;

  h2 {
    text-transform: uppercase;
    font-size: 7rem;
    color: #ffff;
  }
}

.sectionBody {
  padding: 20rem 0;
  background-image: url("../../../assets/filler_1.png");
  background-size: cover;
  background-position: center;
}
