@import "../../../styles/mixins.scss";

.gridPanel {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2rem;
  row-gap: 6rem;

  @include responsive("tab-port") {
    grid-template-columns: repeat(3, 1fr);
  }

  @include responsive("mobile") {
    grid-template-columns: repeat(2, 1fr);
  }

  @include responsive-custom(22.5em) {
    grid-template-columns: 1fr;
  }
}
