@import "../../../styles/mixins.scss";

.pageBtn {
  border: none;
  outline: none;
  background-color: #fefae0;
  padding: 2rem 2.4rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  color: #454e29;
  cursor: pointer;
}

.paginationWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, 6rem);
  gap: 0.7rem;
  margin-top: 3rem;

  @include responsive("mobile") {
    grid-template-columns: repeat(auto-fit, 6.7rem);
    justify-content: center;
  }
}

.activebtn {
  background-color: #454e29;
  padding: 2rem 2.4rem;
  color: #fefae0;
}
