@import "../../styles/mixins.scss";
.nav {
  height: 14rem;
  background-color: #fefae0;
  display: flex;
  align-items: center;

  & > * {
    flex-grow: 1;
  }
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;

    @include responsive-custom(67.1875em) {
      display: none;
    }

    a {
      display: block;
      padding-bottom: 0.4rem;

      text-decoration: none;
      color: #454e29;
      position: relative;

      &:hover .decor {
        width: 100%;
      }
    }
  }
}

:global(.active) {
  font-weight: 700;
}

.decor {
  transition: all 0.3s ease;
  position: absolute;
  bottom: 0;
  width: 0px;
  height: 3px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #454e29;
}

.authWrapper {
  display: flex;
  gap: 2rem;
  align-items: center;

  @include responsive-custom(67.1875em) {
    display: none;
  }
}

.userInfo {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;

  span {
    font-size: 1rem;
  }
}

.logoutBtn {
  border: none;
  outline: none;
  background-color: #454e29;
  color: #fefae0;
  padding: 0.5rem 0.8rem;
  border-radius: 100px;
  cursor: pointer;
}

.loginBtn {
  border: none;
  outline: none;
  background-color: #454e29;
  color: #fefae0;
  padding: 0.5rem 0.8rem;
  border-radius: 100px;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.4rem;
}

.mobileBurger {
  display: none;
  background-color: transparent;
  border: none;
  font-size: 3rem;
  @include responsive-custom(67.1875em) {
    display: block;
  }
}
